.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 30px;
    margin: 0 auto;
}

.header {
    display: flex;
    background-color: hsl(205, 79%, 66%);
    grid-column-start: span 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside {
    color: black;
    grid-column-start: span 1;
    margin: 0 auto;
}

.about {
    background-color: rgb(201, 201, 201);
}

.blogtitle {
    color: rgb(27, 163, 27);
}

.main {
    padding-left: 70px;
}

footer {
    background-color: rgb(9, 71, 151);
    color: rgb(194, 214, 194);
    grid-column-start: span 5;
}

img {
    border-radius: 200%;
    width: 200px;
    height: 200px;
    align-items: center;
}