.header {
    background: #FF7A59;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.blank-col {
    background-color: #FFFFFF;
    margin-left: 100px;
}

.blank-col2 {
    background-color: #FFFFFF;
    margin-right: 100px;
}

#name {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blogtitle {
    font-size: 32px;
    color: #48BB78;
}

.date-author {
    color: #718096;
}

#socialh3 {
    color: #48BB78;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

#archivesh3 {
    color: #48BB78;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

#abouth3 {
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about {
    background-color: #E2E8F0;
    padding: 5px, 5px, 5px, 5px;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    background-color: #2C5282;
    color: #FFFFFF;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-template-areas: "header header header header header" "blank-col main . sidebar blank-col2" "footer footer footer footer footer";
}

nav ul {
    list-style: none;
}

nav ul a {
    color: #4299E1;
    text-decoration: none;
}

#fsz {
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}

#blog,
#blog1 {
    float: right;
    border-radius: 10%;
    padding: 20px;
    width: 200px;
    height: 200px;
}